# Node
node_modules/

# Python
__pycache__/
*.pyc
venv/

# Environment
.env

# Uploads
backend/uploads/

# Hardhat cache
blockchain/cache/
blockchain/artifacts/

# VS Code
.vscode/

# Build folders
dist/
build/